* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333;
    font-family:Arial, Helvetica, sans-serif
}

.App {
    border-radius: 5px;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    width: 60%;    
}

.card {
    box-shadow: 0 0 40px rgba(12, 5, 133, 0.9);
    background: linear-gradient( rgba(0, 0, 0, 0.106), rgba(0, 0, 0, 0.222) ), url("https://ketodietpulse.com/images/bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    margin: 30px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
.card h1 {
    letter-spacing: 1px;
    text-transform: capitalize;
    color: rgb(92, 55, 255);
}
.card button {
    float: right;
    background: transparent;
    border: none;
    font-size: 20px;
    color: rgb(21, 0, 255);
}
.card p {
    color: black;
    font-size: 20px;
    margin-top: 30%;
    text-align: center;
}

.add {
    margin: 30px;
    font-family:monospace;
    background:rgb(57, 0, 201);
    width: 60px;
    height: 60px;
    background:rgb(75, 75, 187);
    color: rgb(196, 201, 255);
    border-radius: 10%;
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    text-decoration: none;
    transition: 0.5s;
}

.add:hover {
    transition: 0.5s;
    background:rgb(102, 115, 255);
}

.btn-flex {
    display: flex;
    justify-content: center;
    margin:auto;
}